.AppStates-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 5%;
}

.AppStates {
    display: flex;
    flex-direction: column;
}

.AppStates-arrow {
    position: relative;
    border-radius: 0px 50px 50px 0px;
    cursor: grab;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
}

.app-states {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 15%;
    border: solid rgb(0, 0, 0) 2px;
    /* background-color: rgb(255, 255, 255, 0.5); */
    border-radius: 30px;
    padding: 0px 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.app-states button {
    background: none;
    border: none;
}
